.header {
    background-color: rgb(85, 216, 216);
}
.nav {
    display: flex;
    width: 100%;
    min-height: 50px;
    
    margin: 0px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

h1:hover {
    /* text-align: center; */
    color: red;
}
.row {
    width: 100%;
}

.col {
    border: 2px solid;
    width: 200px;
    height: 100px;
    background-color: rgb(206, 202, 226);
}
 .container {
    display: flex;
    justify-content: space-around;
    width:  100%;
} 
aside {
    margin-top: 20px;
    width: 300px;
    height: 400px;
    background-color: salmon;
}

ul {
    width: 300px;
}

.footer {
    background-color: seagreen;
    height: 50px;
    margin-top: 100px;
    text-align: center;
    color: wheat;
    font-size: larger;
}
